@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Play", sans-serif;
}

a {
  color: hsl(228, 100%, 60%);
  text-decoration: none;
  font-size: 1.8rem;
}

* {
  box-sizing: border-box;
}

body {
  color: #e7e8e8;
  background: #070707;
}
